{% extends "website/base.html" %}

{% block title %}
    {% if category %}
        Product Category - {{ category.name|safe }}
    {% else %}
        ESD 
    {% endif %}
{% endblock%}

{% block category %}

{% if category %}
    <h1>{{ category.name }}</h1>
    <div class="story">
        {% for product in category.get_products %}
            <h2>{{ product.name|safe }}</h2>
            <div class="row one-row">
                <img class="product-image" src="/media/{{ product.image }}" title="{{ product.name|safe }}" alt="{{ product.name|safe }}" />
                {{ product.description|safe }}
            </div>
        {% endfor%}
    </div>
{% else %}
    <p>No content</p>
{% endif %}

{% endblock %}