{% extends "website/base.html" %}

{% block slider %}
<!-- Home page slider  -->
<div id="slider">
    <div class="clide slide-1"><p>&nbsp;</p></div>
    <div class="clide slide-2"><p>&nbsp;</p></div>
    <div class="clide slide-3"><p>&nbsp;</p><span id="slide-3-text">ESD</span></div>
    <div class="slide-4">Making Science Accessible</div>
</div>
{% endblock %}

{% block featued_product %}

{% if content %}
    <h1>Featured product</h1>
    <div id="product">
        
        <div class="featured">
            <div>
                {% for product in content %}
                    <div>
                        <div class="image">
                            <a href="product/{{ product.slug }}">
                                <img title="{{ product.name|safe }}" alt="{{ product.name|safe }}" src="/media/{{ product.image }}" width="220" />
                            </a>
                        </div>
                        <div class="text">
                            <h3 class="product-title">{{ product.name|safe }}</h3>
                            {{ product.description|safe|truncatechars:200 }}
                            <a href="product/{{ product.slug }}">more</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="slider-nav"><span class="previous"><i class="fas fa-angle-double-left fass"></i></span><span class="next"><i class="fas fa-angle-double-right fass"></i></span></div>
    </div>

{% else %}
    <p>No content</p>
{% endif %}

{% endblock %}