{% extends "website/base.html" %}

{% block products %}

{% if products %}
    <h1>Products from ESD</h1>
    <div class="story">
    {% for product in products %}
        <div class="row">
            <div class="left">
                <h3>{{ product.name }}</h3>
                <p>Price: {{ product.price|safe}}</p>
                <p>Category: {{ product.category|safe }}</p>
                <p>{{ product.description|safe|truncatechars:200 }}</p>
                <p><a href="/product/{{ product.slug }}">&raquo; Click for complete information</a></p>
            </div>
            <div class="right">
                <img width="200" src="/media/{{ product.image }}" />
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No content</p>
{% endif %}

{% endblock %}