html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Eurostile-Roman Medium', sans-serif;
}

a {
  text-decoration: none;
}

p.title {
  font-weight: bold;
}

body {
  font-size: 14px;
  font-family: 'Consolas', 'ITC Berkeley Oldstyle Std', 'Trebuchet MS', sans-serif;
  line-height: 1.75;
  margin: 0 1% 0 1%;
  padding: 0;
}

div#wrapper {
  width: 100%;
  float: left;
}

div#header {
  background: #000;
  color: #fff;
  width: 100%;
  float: left;
  clear: both;
}

div#header div.menu,
div#header div.icon {
  width: 5%;
  float: left;
  font-family: 'Eurostile-Roman Medium', sans-serif;
  text-align: center;
  font-size: 18px;
  padding-top: 4%;
}

div#header div.menu img {
  width: 35px;
  margin-top: 2px;
}

ul.dropdown-menu {
  position: absolute;
  min-width: 120px;
  padding: 0;
  margin: 0;
}

ul.dropdown-menu li {
  display: block !important;
  white-space: nowrap;
  text-align: left;
}

ul.dropdown-menu li a {
  color:#fff;
}

ul.dropdown-menu ul.dropdown-menu {
  left: 100%;
  top: 0;
  background-color: #f00 !important;
}

ul.dropdown-menu{
  display: none;
}

div#header div.logo {
  width: 89%;
  float: left;
  text-align: center;
}

div#header div.logo img {
  width: 150px;
}

div#container {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  clear: both;
}

div#slider {
  margin: 0;
  padding: 0;
  background-image: url('../images/slider-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  float: left;
  width: 100%;
}

div#content {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

div#content div.story,
div#content div.row {
  width: 100%;
  float: left;
}

div#content div.row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}

div#content div.row-last,
div#content div.one-row {
  border-bottom: 0px solid #d0d0d0;
}

div#content div.story div.one-row div.right img {
  width: 60%;
}

div#content div.row img {
  width: 200px;
}

div#content div.story div.row div.left,
div#content div.story div.row div.right {
  width: 50%;
  float: left;
}

div#content div.story div.row div.right {
  text-align: right;
}

div#content div.story div.row div.right-center {
  text-align: center;
}

div#product {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

div#product span.previous, div#product span.next {
  height: 25px;
  width: 25px;
  border: 0px solid #000;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

div#product div.featured {
  float: left;
  width: 100%;
}

div#product div.featured div.image {
  float: left;
  width: 30%;
}

div#product div.featured div.text {
  float: left;
  width: 69%;
}

div#product div.featured div.text h4.product-title {
  margin-top: 0;
}

div#product div.slider-nav {
  float: left;
  width: 100%;
  text-align: center;
}

div#footer {
  width: 100%;
  float: left;
  background-color: #000;
  color: #fff;
}

div#social,
div#footer-menu,
div#footer-address {
  width: 100%;
  float: left;
}

div#social div.social-left,
div#social div.social-right {
    width: 48%;
    float: left;
    padding: 1%;
}

div#social div.social-right {
  text-align: right;
}

div#footer-menu {
  border-top: 1px solid #d0d0d0;
}

div#footer-menu div.footer-menu-left,
div#footer-menu div.footer-menu-right {
  width: 28%;
  padding: 1%;
  float: left;
}

div#footer-menu div.footer-menu-right {
  width: 68%;
  padding: 1%;
  float: left;
  text-align: right;
}

div#footer-address {
  border-top: 1px solid #d0d0d0;
  text-align: center;
}

div#footer a {
  color: #fff;
}